.dashboard {
  position: relative;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#link {
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.64);
  text-decoration: none;
}
